<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thinlineit.ctrlf">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:name=".util.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CtrlF"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.thinlineit.ctrlf.registration.signin.FindPasswordActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".page.editor.PageEditorActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".registration.signup.RegistrationActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".registration.signout.LogoutActivity" />
        <activity
            android:name="com.thinlineit.ctrlf.registration.signin.LoginActivity"
            android:launchMode="singleTask" />
        <activity android:name=".issue.detail.IssueDetailActivity" />
        <activity
            android:name=".splash.SplashActivity"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".page.detail.PageActivity" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>
